<ul>
  <li class="list-group-title">{{format-date sessions.firstObject.startAt}}</li>

  {{#each session in sessions}}
    <li>
      {{#link-to "session" session.id class="item-content item-link"}}
        <div class="item-inner">
          <div class="item-title">
            {{#if session.name}}
              {{session.name}}
            {{else}}
              {{format-time session.startAt}}
            {{/if}}
          </div>
          <div class="item-after">
            {{format-duration session.duration}}
          </div>
        </div>
      {{/link-to}}
    </li>
  {{/each}}
</ul>
