
<div class="content-block-title">
  {{name}}
</div>

<div {{bind-attr class=":content-block changed:flash"}}>

  {{#if running}}
    <p><a {{action "stopSession"}} class="button button-fill color-red">Stop Session</a></p>
  {{else}}
    <p><a {{action "startSession"}} class="button button-fill">Start Session</a></p>
  {{/if}}

  <p><a {{action "clear"}} class="button color-gray">Clear log</a></p>
  <p><a {{action "disconnect"}} class="button color-red">Disconnect</a></p>

  <p>Clicks:</p>

  <p>
    {{#each click in currentSession.clicks}}
      {{click.time}}<br>
    {{/each}}
  </p>
</div>

<div class="content-block-title">Sessions</div>

<div class="list-block">
  <ul>
    {{#each session in sessions}}
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title">
              {{session.durationInSeconds}} seconds
            </div>
            <div class="item-after">
              {{session.numberOfClicks}} &nbsp;clicks
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
</div>



{{outlet}}
