
<div class="content-block-title">
  {{name}}
</div>

<div {{bind-attr class=":content-block changed:flash"}}>

  {{#if sessionStartedAt}}
    <p><a {{action "stopSession"}} class="button button-fill color-red">Stop Session</a></p>
  {{else}}
    <p><a {{action "startSession"}} class="button button-fill">Start Session</a></p>
  {{/if}}

  <p><a {{action "clear"}} class="button color-gray">Clear log</a></p>
  <p><a {{action "disconnect"}} class="button color-red">Disconnect</a></p>

  <p>Clicks:</p>

  <p>
    {{#each message in messages}}
      {{message.time}}<br>
    {{/each}}
  </p>
</div>


{{outlet}}
