
<div {{bind-attr class="changed:flash"}}>

  <div class="content-block-title">
    {{name}}
  </div>

  <div class="list-block inset">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-inner">
            <div class="item-title label">Name</div>

            <div class="item-input">
              {{input value=sessionName placeholder="Name your session"}}
            </div>
          </div>
        </div>
      </li>
    </ul>

    <p>
      {{#if running}}
        <a {{action "stopSession"}} class="button button-fill color-red">Stop Session</a>
      {{else}}
        <a {{action "startSession"}} class="button button-fill">Start Session</a>
      {{/if}}
    </p>

  </div>


  <div class="content-block">

    <p>Clicks:</p>

    <p>
      {{#each click in currentSession.clicks}}
        {{click.time}}<br>
      {{/each}}
    </p>
  </div>

  <div class="content-block-title">Sessions</div>
  <div class="list-block inset">
    {{partial 'sessions'}}
  </div>

  {{outlet}}

  <div class="content-block">
    <p>
      <a {{action "disconnect"}} class="button color-red">Disconnect</a>
    </p>
  </div>
</div>
