
<div class="list-block">
  <ul>

    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">
            Session Name
          </div>
          <div class="item-after">
            {{name}}
          </div>
        </div>
      </div>
    </li>


    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">
            Started at
          </div>
          <div class="item-after">
            {{format-time startAt}}
          </div>
        </div>
      </div>
    </li>


    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">
            Stopped at
          </div>
          <div class="item-after">
            {{format-time stopAt}}
          </div>
        </div>
      </div>
    </li>


    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">
            Duration
          </div>
          <div class="item-after">
            {{format-duration duration}}
          </div>
        </div>
      </div>
    </li>


    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">
            Clicks
          </div>
          <div class="item-after">
            {{numberOfClicks}}
          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="item-content">
        <div class="item-inner">
          <div class="item-title">
            Clicks/minute
          </div>
          <div class="item-after">
            {{clicksPerMinute}}
          </div>
        </div>
      </div>
    </li>

  </ul>

</div>

{{time-graph startAt=startAt stopAt=stopAt times=times}}

{{outlet}}

<div class="list-block">
  <ul>
    <li class="align-top">
      <div class="item-content">
        <div class="item-inner">
          <div class="item-input">
            {{textarea value=notes placeholder="Notes"}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="content-block">
  <p>
    <a {{action "destroy"}} class="button color-red">Delete Session</a>
  </p>
</div>

